.black-nav{}
.list{text-align: left; padding-left: 20px; border-bottom: 1px solid grey;}
.font{font-size: 14px; font-weight: normal; user-select: none;}
button{margin-left: 20px; border: none; background: #bf3f3f; color: #fff; padding: 10px 30px}
.modal{background: #ddd; padding: 30px; box-sizing: border-box; position:absolute; top: 50%; left: 50%; width:80%; transform: translate(-50%, -50%);}